* {
    margin: 0;
    padding: 0;
}


/* MAIN */

main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 24px;
    background-color: rgb(31, 31, 31);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 15px;
    height: 2050px;
}

.content {
    width: 1740px;
}

.content h2 {
    text-align: center;
}

.text1 ol {
    padding-left: 820px;
}

.text1 li {
    padding-left: 10px;
}

.text2 {
    margin-top: 10px;
}

.text2 dl dt {
    font-size: 25px;
    padding-top: 3px;
}

.text2 dt+dd {
    font-size: 23px;
}

.text2 dd+dd {
    font-size: 23px;
}

.text3 {
    margin-top: 20px;
}

.text3 ol {
    margin-left: 25px;
}

.text3 ul {
    margin-left: 50px;
}

.text4 {
    text-align: center;
}

.text4 img {
    padding-left: 100px;
}

.text4 h2 {
    font-size: 40px;
    padding-bottom: 30px;
    padding-left: 70px;
}

.text4 #find {
    margin-right: 90px;
}


/* ARROWS */

.content,
.arrows {
    float: left;
}

main .arrows #down-arrow {
    margin-bottom: 1930px;
}