/* HEADER */

header {
    font-family: 'Comfortaa', cursive;
    color: white;
    background-color: rgb(53, 53, 53);
    padding-top: 10px;
    padding-bottom: 12px;
    position: fixed;
    width: 100%;
    height: 10%;
    z-index: 5;
}

header img {
    float: left;
    height: 70% !important;
    width: 10% !important;
}

header img:nth-child(1) {
    padding-left: 12px;
}

header h1 {
    text-align: center;
    font-size: 40px;
    padding-right: 10%;
}

header>nav {
    text-align: center;
    width: 100%;
    display: inline-block;
}

header nav a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

header nav a:nth-child(1) {
    padding-right: 2%;
}

header nav a:last-child {
    padding-left: 2%;
}

header nav a:hover {
    color: red;
}

header nav a:visited {
    color: blue;
}

header nav a:active {
    color: green;
}