* {
    margin: 0;
    padding: 0;
}


/* MAIN */


/* Для ширины 1000 пикселей и меньше */

@media screen and (max-width: 1000px) {
    main {
        font-size: calc(24px - 20%) !important;
    }
    .gallery img {
        max-width: 600px !important;
        max-height: 400px !important;
    }
}

@media screen and (max-width: 635px) {
    .gallery img {
        max-width: 100% !important;
        max-height: 300px !important;
    }
}

main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(31, 31, 31);
    font-size: 24px;
    padding-top: calc(5% + 70px);
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}


/* CONTENT */

.content {
    font-size: calc(100% + 50px);
    height: 720px;
    font-size: 20px;
}


/* ALERTS */

.box-notification {
    position: absolute;
    margin-left: 1%;
    margin-top: -8%;
}

.notifications {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 30px;
    box-shadow: border-box;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.notifications:hover {
    width: 300px;
    height: 60px;
    text-align: left;
    padding: 0 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: red;
    transition: all 0.5s;
}

.notifications .fa-solid:hover {
    color: #fff;
}

.notifications .fa-solid {
    color: #cecece;
    line-height: 60px;
    font-size: 30px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 100%;
}

.notifications .text::before {
    content: icon;
}

.notifications .num {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
}

.notifications:hover .num {
    position: relative;
    background: transparent;
    color: white;
    font-size: 24px;
    top: -4px;
}

.notifications:hover .notification-list {
    margin-top: 50px;
    display: block;
}

.notifications:hover .num::after {
    content: '  Уведомления';
    font-family: 'Space Grotesk', sans-serif;
}

.notification-list {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    display: none;
    background-color: gray;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.notification-list li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    display: flex;
}

.notification-list li:last-child {
    border-bottom: none;
}

.notification-list li .icon {
    width: 24px;
    height: 24px;
    background: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 15px;
}

.notification-list li .icon .fa-solid {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.notification-list li .text {
    position: relative;
    font-family: 'Space Grotesk', sans-serif;
    top: 3px;
    cursor: pointer;
}

.notification-list li:hover .text {
    font-weight: bold;
    color: red;
}


/* buttons */

.buttons {
    text-align: center;
    display: flex;
    justify-content: center;
}


/* button1 */

.btn {
    width: 10%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: black;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* button2 */

.button2 {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: orange;
    background: linear-gradient(90deg, rgb(226, 167, 3) 0%, rgb(196, 179, 28) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(223, 209, 23, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-top: 100px;
}

.button2::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 4px solid white;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button2:hover,
.button2:focus {
    color: #313133;
    transform: translateY(-6px);
}

.button2:hover::before,
.button2:focus::before {
    opacity: 1;
}

.button2:hover::after,
.button2:focus::after {
    animation: none;
    display: none;
}


/* button3 */

.button3 {
    position: absolute;
    margin-top: 200px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 300ms;
    background: #474747;
    box-shadow: 0px 5px #ffffff, 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.button3:hover {
    transform: translateY(5px);
    box-shadow: 0px 0px transparent, 0px 5px 10px rgba(255, 255, 255, 0.25);
}

.button3:focus {
    outline: none;
}


/* button4 */

.btn5 {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    margin-top: 300px;
}

.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}


/* GALLERY */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    color: black;
    height: 1000px;
}

.text1 {
    height: 470px;
    width: 360px;
    position: absolute;
    background-color: white;
    text-align: center;
}

.text1 p:last-child {
    padding-top: 370px;
}

.text2 {
    height: 470px;
    width: 360px;
    position: absolute;
    background-color: white;
    text-align: center;
}

.text2 p:last-child {
    padding-top: 370px;
}

.text3 {
    height: 470px;
    width: 360px;
    position: absolute;
    background-color: white;
    text-align: center;
}

.text3 p:last-child {
    padding-top: 370px;
}

.vidos {
    width: 800px;
}

.info {
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 60px;
    position: absolute;
    width: 500px;
    height: 220px;
    margin-top: 30px;
    z-index: 2;
    opacity: 0;
    transition: all 1s ease;
    transform: translateX(80px);
}

.info:hover {
    opacity: 100;
    transform: translateX(-180px);
}

video {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.gallery img {
    border-radius: 0px;
    height: 400px;
    width: 300px;
    position: relative;
    padding-left: 30px;
    padding-top: 47px;
    transition: all .2s ease;
}

.gallery img:hover {
    transform: translateY(-60px);
    transition: all .2s ease;
}